nav {
    height: 4rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--background-tertiary);
    color: var(--foreground-quaternary);
    font-size: 1rem;
  }
  button {
    background-color: rgb(131, 124, 124);
    border: none;
    padding: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
    color: white;
  }
  
  button:hover {
    background-color: #cfd8dc;
    
    /* padding: 10px; */
  }    
  nav .title {
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    align-items: center;
    border-radius: 0.5rem;
    background: var(--background-light);
    color: var(--foreground-tertiary);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
    min-height: 8rem;
    box-shadow: var(--background-tertiary-shadow);
  }
  
  .container .name {
    justify-self: start;
  }
  
  .container .price {
    justify-self: center;
  }
  
  .container .icon {
    justify-self: end;
  }
  
  .favouriteIcon {
    font-size: 1.5rem;
  }
  
  .isFavourite {
    color: var(--primary-default);
  }
  
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}